@charset "UTF-8";
/*Tipical da*/
/*
    telas pequenas ate 600px
    celular: de 600px ate 768px
    tablet: de 768px ate 992px
    desktop: de 992px ate 1200px
    grandes telas acima de 1200px
*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    #login{
        width: 80%;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100vh;
    }
    #formulario{
        float: right;
        width: 70%;
        height: 100vh;
    }
    p{
        text-align: center;
    }
    body{
        background-image: linear-gradient(to bottom, green, rgb(84, 109, 84));
    }
}
@media screen and (min-width: 992px) {
    #login{
        width: 950px;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100vh;
    }
    #formulario{
        float: left;
        width: 50%;
        height: 100vh;
    }
    p{
        text-align: center;
    }
    body{
        background-image: linear-gradient(to bottom, green,blue);
    }
}