@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html{
    width: 100vw;
}
body{
    background-color: rgb(250, 68, 99);
}
#login{
    position: absolute;
    width: 250px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
}