@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
#login{
    display: block;
    position: absolute;
    width: 250px;
    height: 500px;
    max-height: 100%;
    background-color: white;
    border-radius: 20px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    overflow: hidden;
    box-shadow: 0px 3px 5px rgb(5, 5, 5);
}
#imagem{
    display: block;
    background-image: url(../imagens/pedras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -10px;
    height: 40%;
}
div>p{
    padding-left: 10px;
    padding-right: 10px;
}
div>h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 3px;
    color: rgb(8, 248, 68);
}
body{
   background-color: rgb(6, 56, 6);
}
main{
    height: 100vh;
    width: 100vw;
}