@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#login{
    position: absolute;
    width: 250px;
    height: 500px;
    max-height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    overflow: hidden;
    box-shadow: 0px 3px 5px black;
}
#imagem{
    background-image: url(../imagens/pedras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -10px;
    height: 200px;
}
div>p{
    padding: 10px;
}
div>h1{
    text-align: center;
    padding: 15px;
}
body{
   background-color: rgb(240, 163, 47);
}
